:root{

    --color-fondo:#F7E0FF;
    --color-titulo: rgb(167 86 195 / 76%);
    --blanco:#ffffff;
    --negro:#000000;
    --color-secciones:#C4C4C4;

}

html{

    font-size: 62.5%;
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
    
}

body{
    background: var(--color-fondo);
    font-size: 16px;/*1rem = 10px*/

}

.logo{
    
    text-align: center;
    width: 90%;
	background-image: url("/src/imagenes/logo.jfif");
    border-radius: 50%;
    background-position-x: center;
    background-position-y: center;
    padding: 0.5rem;
    border-color: rgb(167, 86, 195);
    border-width: 1rem;
    border-style: double;
    margin-left: auto;
    margin-right: auto; 
    text-shadow: black 3px 3px, black -3px 3px,black 3px -3px, black -3px -3px; 
    
    
}
h1{
   
    text-align: center;    
    /*font-family: 'Dancing Script', cursive;*/
    text-transform: capitalize;
    color: var(--color-titulo);
    /*letter-spacing: 0.30em;*/
    word-spacing: 0.60em;
    font-size: 6.2rem;
    text-shadow: 3px 3px 30px black, black -3px 3px 30px,black 3px -3px 30px,black -3px -3px 30px;   
    

}
.menu{
    display: flex;
    justify-content: space-evenly;
    
}
.menu-navegacion{
    font-family: 'Lobster', cursive;
    font-size: 4rem;
    /*color: var(--color-titulo);
    text-decoration: none;*/
    background-color: var(--color-secciones);
    margin-top: 1rem;
    padding: 1rem;
    
}
.menu-navegacion a{
    color: var(--color-titulo);
    text-decoration: none;
    padding: 2rem;

}

.menu-navegacion .menu a:hover{

    background-color: rgb(185, 182, 182);

}
.iconCarrito{
    width: 50px;
    height: 50px;
}

#tienda{
    /*font-style: italic;*/
    font-weight: bolder;
    color: rgb(167 86 195 / 75%);
    font-size: 2.5rem;
    margin: auto;
    
}
.contenedor{
    width: 80%;
    max-width: 80rem;
    padding: 4rem 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /*background-color: var(--color-secciones);*/
    align-items: center;
}
/**Estilo general de la tarjeta**/
.tarjeta{
    width: 60%;
    max-width: 45rem;
    /*max-height: 40rem;*/
    position: relative;
    color: white;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    /*backface-visibility: visible;*/
    cursor: pointer;
    z-index: 2;

}
.tarjeta.active{
    transform: rotateY(180deg);
}

.tarjeta > div{
    padding: 3rem;
    border-radius: 1.5rem;
    min-height: 31.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148,0.3);
}

.tarjeta .delantera{
    width: 100%;
    background: url(/src/imagenes/fondoTarjeta.jpg);
    background-size: cover;
}

.delantera .logo-marca{
    text-align: right;
    min-height: 4rem;
}

.delantera .logo-marca img{
    width: 120%;
    height: 120%;
    object-fit: cover;
    max-width: 6rem;
}

.chip{
    width: 100%;
    max-width: 35px;
    /*object-fit: cover;*/    
    margin-bottom: 20px;
}

.delantera .grupo .label{
    color: #7d8994;
    margin-bottom: 0.5rem;

}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion{
    font-size: 1.6rem;
    text-transform: uppercase;

}

.delantera .flexbox{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
/*--------------------continue yo misma--------------*/
.tarjeta .trasera{
    width: 100%;
    background: url(/src/imagenes/fondoTarjeta.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.trasera .barra-magnetica{
    background-color: rgb(66, 64, 64);
    width: 100%;
    top: 3rem;
    left: 0;
    position: absolute;
    height: 4rem;

}

.trasera .datos{

    margin-top: 6rem;
    /*margin-right: 40px;
    margin-left: 40px;*/
    display: flex;
    justify-content: space-between;
}

.trasera .datos p{
    margin-top: 0.5rem;
}
.trasera .datos #firma {
    width: 70%;
}

.trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(0deg,white 2%,rgb(168, 194, 233) 10% ,grey 20%);

}

.trasera .datos #firma .firma p {
    line-height: 4rem;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: black;
    padding: 0 1rem;
    font-size: 3rem;
    text-transform: capitalize;

}

.trasera .datos #cvv {
    width: 20%;
}

.trasera .datos #cvv .cvv {
    height: 4rem;
    padding: 0 1rem;
    font-size: 3rem;
    color: black;
    background: white;
    margin-top: 3rem;
}

.trasera .leyenda{
    line-height: 2.4rem;
    font-size: 1.2rem;
}

.trasera .link-banco{
    color: white;
    font-size: 1.2rem;
}


.contenedor-boton #btn-formulario{
    width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: var(--color-secciones);   
	color: rgb(245, 239, 239);
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;

}

.contenedor-boton .btn-formulario .icono{
    /*position: absolute;*/
    width: 30px;
    height: 30px;
    background: url(./imagenes/bx-message-square-add.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.contenedor-boton .btn-formulario.active {
	transform: rotate(45deg);
}

.contenedor-product{

    width: 80%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: var(--color-secciones);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenedor-product .fila{

    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-evenly;
    
}

.contenedor-product .img-product{

    width: 30rem;
    height: 30rem;
    background-size: cover;
    border-style:double;
    border-color: black;
}

.contenedor-product .fila .producto{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.contenedor-product .fila .producto .datos-product{

    /*width: 100%;*/
    font-size: 2.5rem;
    color: var(--color-titulo);
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;
    align-content: center;
    margin: auto;
    margin-top: 0.5rem;*/
    padding: 2rem;

}

.contenedor-product .fila .producto .datos-product span{

        margin: auto;
}

.carrito-add{

    width: 60%;
    height: 6rem;
    background-color: var(--color-secciones);
    border: none;
    border-radius: 5%;
    box-shadow: 0 12px 30px rgb(0, 0, 0, 7);
    margin: auto;
    cursor: pointer;
}

.carrito-add:hover{
    background-color: gray;
}



.carrito-add img{

    width: 5rem;
    height: 5rem;
    background-size: contain;
}


footer{

    margin: auto;
    margin-top: 1rem;
    width: 90%;
    height: 5rem;
    background-color: var(--color-secciones);
    padding: 0.5rem;
    border-color: rgb(167, 86, 195);
    border-style: double;
    
    /*display: flex;
    justify-content: space-evenly;*/
}

.pie-de-pagina{

   display: flex; 
    justify-content: space-evenly;
}

.pie-de-pagina .redes{

    /*position: relative;*/
    height: 4.5rem;
    background-size: cover;
    
}

/*secccion del formulario*/

.formulario{
    position:relative;
    width: 100%;
    margin: auto;
    margin-top: -90px;
    padding: 30px;
    background-color: rgb(199, 193, 193);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
}

.formulario.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.datosForm{
    
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;    
    justify-content: space-between;
    align-content: center;

}

#datosNumero{
    margin-top: 40px;
    flex-direction: column;
}

#datosNombre{

    flex-direction: column;
}
.datosForm label{
    width: 100%;
    font-weight: bolder;
    font-size: 20px;
    padding: 5px;
    text-transform: capitalize;

}
.datos-expiracion {
    width: 70%;
    flex-direction: column;
}
.datosForm input{

    /*width: 100%;*/
    height: 50px;
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid #CED6E0;
	/*font-size: 18px;
	height: 50px;
	width: 100%;*/
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.datosForm .expira-cvv{

    width: 100%;
    display: flex;
    flex-direction: row;

}

.expira-cvv input{

    width: 120px;
    height: 40px;
}

.expiracion{
    width: 60%;
    display: flex;
    flex-direction: row;
}
.expiracion select{

    width: 50%;
    height: 5rem;

}
.cvv{

    width: 40%;
    display: flex;
    flex-direction: column;

}

.botonValidar{

    width: 250px;
    height: 50px;
    margin: auto;
    padding-top: 10px;
    box-shadow: rgb(0,0, 0,0.5) 10px 10px 20px,rgb(0,0, 0,0.5) -10px 10px 20px;
    border-style: none;
    border-radius: 5%;
}




