:root{

    --color-fondo:#F7E0FF;
    --color-titulo: rgb(167 86 195 / 76%);
    --blanco:#ffffff;
    --negro:#000000;
    --color-secciones:#C4C4C4;

}

html{

    font-size: 62.5%;
    font-family: 'Lobster', cursive;
    box-sizing: border-box;
    
}

body{
    background: var(--color-fondo);
    font-size: 16px;/*1rem = 10px*/

}

.logo{
    
    text-align: center;
    /*width: 120rem;*/
    height: 13rem; 
	background-image: url("/src/imagenes/logo.jfif");
    border-radius: 50%;
    background-position-x: center;
    background-position-y: center;
    padding: 0.5rem;
    border-color: rgb(167, 86, 195);
    border-width: 1rem;
    border-style: double;
    margin-left: auto;
    margin-right: auto; 
    text-shadow: black 3px 3px, black -3px 3px,black 3px -3px, black -3px -3px; 
    
    
}
h1{
   
    text-align: center;    
    /*font-family: 'Dancing Script', cursive;*/
    text-transform: capitalize;
    color: var(--color-titulo);
    /*letter-spacing: 0.30em;*/
    word-spacing: 0.60em;
    font-size: 4.2rem;
    text-shadow: black 3px 3px, black -3px 3px,black 3px -3px,black -3px -3px;   
    

}
.menu{
    display: flex;
    justify-content: space-evenly;
    
}
.menu-navegacion{
    font-family: 'Lobster', cursive;
    font-size: x-large;
    /*color: var(--color-titulo);
    text-decoration: none;*/
    background-color: var(--color-secciones);
    margin-top: 1rem;
    padding: 1rem;
    
}
.menu-navegacion a{
    color: var(--color-titulo);
    text-decoration: none;
    padding: 1rem;

}
/*.iconCarrito{
    width: 4rem;
    height: 4rem;
}*/
.menu a :hover{
    background-color: rgb(247, 187, 224);
}
#tienda{
    /*font-style: italic;*/
    font-weight: bolder;
    color: rgb(167 86 195 / 75%);
    font-size: 2.5rem;
    margin: auto;
    
}
.contenedor{
    width: 80%;
    max-width: 80rem;
    padding: 4rem 2rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /*background-color: var(--color-secciones);*/
    align-items: center;
}
/**Estilo general de la tarjeta**/
.tarjeta{
    width: 60%;
    max-width: 45rem;
    /*max-height: 40rem;*/
    position: relative;
    color: white;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    /*backface-visibility: visible;*/
    cursor: pointer;
    z-index: 2;

}
.tarjeta.active{
    transform: rotateY(180deg);
}

.tarjeta > div{
    padding: 3rem;
    border-radius: 1.5rem;
    min-height: 31.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 10px 0 rgba(90, 116, 148,0.3);
}

.tarjeta .delantera{
    width: 100%;
    background: url(/src/imagenes/fondoTarjeta.jpg);
    background-size: cover;
}

.delantera .logo-marca{
    text-align: right;
    min-height: 4rem;
}

.delantera .logo-marca img{
    width: 120%;
    height: 120%;
    object-fit: cover;
    max-width: 6rem;
}

.chip{
    width: 100%;
    max-width: 35px;
    /*object-fit: cover;*/    
    margin-bottom: 20px;
}

.delantera .grupo .label{
    color: #7d8994;
    margin-bottom: 0.5rem;

}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion{
    font-size: 1.6rem;
    text-transform: uppercase;

}

.delantera .flexbox{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}
/*--------------------continue yo misma--------------*/
.tarjeta .trasera{
    width: 100%;
    background: url(/src/imagenes/fondoTarjeta.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.trasera .barra-magnetica{
    background-color: rgb(66, 64, 64);
    width: 100%;
    top: 3rem;
    left: 0;
    position: absolute;
    height: 4rem;

}

.trasera .datos{

    margin-top: 6rem;
    /*margin-right: 40px;
    margin-left: 40px;*/
    display: flex;
    justify-content: space-between;
}

.trasera .datos p{
    margin-top: 0.5rem;
}
.trasera .datos #firma {
    width: 70%;
}

.trasera .datos #firma .firma {
    height: 40px;
    background: repeating-linear-gradient(0deg,white 2%,rgb(168, 194, 233) 10% ,grey 20%);

}

.trasera .datos #firma .firma p {
    line-height: 4rem;
    font-family: 'Liu Jian Mao Cao', cursive;
    color: black;
    padding: 0 1rem;
    font-size: 3rem;
    text-transform: capitalize;

}

.trasera .datos #cvv {
    width: 20%;
}

.trasera .datos #cvv .cvv {
    height: 4rem;
    padding: 0 1rem;
    font-size: 3rem;
    color: black;
    background: white;
    margin-top: 3rem;
}

.trasera .leyenda{
    line-height: 2.4rem;
    font-size: 1.2rem;
}

.trasera .link-banco{
    color: white;
    font-size: 1.2rem;
}


.contenedor-boton #btn-formulario{
    width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: #2364d2;   
	color: rgb(245, 239, 239);
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;

}

.contenedor-boton .btn-formulario .icono{
    /*position: absolute;*/
    width: 30px;
    height: 30px;
    background: url(./imagenes/bx-message-square-add.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.contenedor-boton .btn-formulario.active {
	transform: rotate(45deg);
}

footer{

    margin: auto;
    margin-top: 1rem;
    width: 90%;
    height: 4rem;
    background-color: var(--color-secciones);
    padding: 0.5rem;
    border-color: rgb(167, 86, 195);
    border-style: double;
    
    /*display: flex;
    justify-content: space-evenly;*/
}

.pie-de-pagina{

   display: flex; 
    justify-content: space-evenly;
}

.pie-de-pagina .redes{

    /*position: relative;*/
    height: 4.5rem;
    background-size: cover;
    
}



